<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/laboratory.png" rel="icon">

  <title>Title page</title>  

<link href="./static/main.d8e0d294.css" rel="stylesheet"></head>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('./static/assets/images/psi2.png')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>Sam Beech</h1>
      <p>Academic Researcher & Digital Marketing Executive</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://research-information.bris.ac.uk/en/persons/sam-j-beech" title="">
          <i class="fa fa-dribbble"></i>
        </a>
      </p>
    </div>
  </header>



<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>About me</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="./static/assets/images/headshot.png" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

              <p>I'm a final-year PhD researcher at The University of Bristol. I explore and identify human-based approaches to network optimisation, investigating the potential for visuomotor adaptation as a mechanism to alleviate latency-induced performance impairments in interactive technologies. I am also a teaching assistant at The University of Bath, where I teach statistics, databases, and machine learning.</p>
              <p>I also work as a Digital Marketing Executive at <a href="http://www.thegingeragency.com" target="_blank">The Ginger Agency</a>. I currently manage a small team, where I oversee social media growth across Instagram, Facebook, X, LinkedIn, and YouTube for Vox Amplification, Korg, and Takamine Guitars. </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Highlighted Projects</h2>
            <div class="row">
              <div class="col-md-4">
                <img src="./static/assets/images/DSimShot.png" class="img-responsive" alt="">
                <h3 class="h5">Driving Simulator</h3>
                <p>September 2023</p>
              </div>
              <div class="col-md-4">
                <img src="./static/assets/images/eye_track.png" class="img-responsive" alt="">
                <h3 class="h5">Visuomotor Control Tasks</h3>
                <p>January 2023</p>
              </div>
              <div class="col-md-4">
                <img src="./static/assets/images/FBallHeatmap.png" class="img-responsive" alt="">
                <h3 class="h5">Eye-tracking in sports-based content</h3>
                <p>September 2022</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Work</h2>
            <div class="work-experience">
              <small class="date">2022 - Present</small>
              <h3 class="h5 date-title">Graduate Teaching Assistant - <a href="https://www.bath.ac.uk/" title="Create professionnal website">The University of Bath</a></h3>
              

              <p>Within the Computer Science department, I run SQLite and Python labs on the Undergraduate and Master's "Databases" modules. I also run Scikit-learn and PyTorch labs on the "Machine Learning" module. </p>
              <p>Within the Psychology department, I ran labs and marked coursework on the "Quantitative Research Methods" module. Here, I taught the fundamentals of statistics and how to analyse data using SPSS.</p>
            </div>

            <div class="work-experience">
              <small class="date">2020 - Present </small>
              <h3 class="h5 date-title">Digital Marketing Executive - <a href="https://www.thegingeragency.com/" title="">The Ginger Agency</a></h3>
              
              <p>With our current clients, we focus on social media growth across various platforms. Previously, I have worked on performance marketing, creating and maintaining paid ads across 
                Facebook, Instagram, YouTube, Google, and Amazon. I also explore client data using machine learning methods to optimise sales strategies and customer targeting.</p>
            </div>

            <div class="work-experience">
              <small class="date">2017 - 2018 </small>
              <h3 class="h5 date-title">Research Assistant - <a href="https://ladlab.ucsd.edu/" title="">The University of California San Diego: Language & Development Lab</a></h3>
              
              <p>I helped to run experiments exploring linguistic and numerical development in toddlers. 
                I co-authored a project investigating toddlers' processing of distributive and conjunctive inferences that was later presented at the <a href="https://nels50.mit.edu/program" target="_blank">NELS 50 conference</a>.
                My other key roles involved participant outreach, data collection at local museums and schools, and stimuli development.</p>             
            </div>
          </div>
        </div>
        

        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2021 - Ongoing </small>
                  <h3 class="h5 date-title">PhD in Psychology/HCI</h3>
                  <p>The University of Bristol</p>
                </div>
                
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2016 - 2020</small>
                  <h3 class="h5 date-title">BSc Psychology with Honours - First Class</h3>
                  <p>Cardiff University</p>
                </div>
              </div>
              <!-- <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2012-2011</small>
                  <h3 class="h5 date-title">Motion Design Course</h3>
                  <p>Pascal’s Lee Studio</p>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Key Skills</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Machine Learning:  <small>TensorFlow developer certified and PyTorch teacher.</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Unity Development:  <small>Screen-based and VR.</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">MATLAB:  <small>Data analysis, game development, & eye tracking.</small></h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Game Development</h2>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

              <div class="item active">
                <video class="img-responsive" controls>
                  <source src="./static/assets/videos/DSimClip.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <div class="carousel-caption">
                  <h3 class="h5">Driving Simulator</h3>
                  <p>2023</p>
                </div>
              </div>

              <div class="item">
                <video class="img-responsive" controls>
                  <source src="./static/assets/videos/TargetAcqClip.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <div class="carousel-caption">
                  <h3 class="h5">Visuomotor Acquisition Task</h3>
                  <p>2022</p>
                </div>
              </div>

              <div class="item">
                <video class="img-responsive" controls>
                  <source src="./static/assets/videos/TargetTrackClip.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <div class="carousel-caption">
                  <h3 class="h5">Visuomotor Acquisition Task</h3>
                  <p>2022</p>
                </div>
              </div>
            </div>
            

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

          </div>
          </div>
        </div>
      

        <div class="card">
          <div class="card-block">
            <h2>Get in touch!</h2>
            <form action="submit_form" method="post" class="reveal-content">
              <div class="form-group">
                <input name = "email" type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input name = "subject" type="text" class="form-control" id="subject" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea name = "message" class="form-control" rows="5" placeholder="Enter your message"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class=" btn btn-primary">Send message</button>
              </div> 
            </form>
          </div>
        </div>
       
     </div>
   </div>
 </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--><script type="text/javascript" src="./static/main.bc58148c.js"></script></body>

</html>